<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>AdmitAI – Admission Assistant</title>
    <link rel="stylesheet" href="/static/style.css" /> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
  <body> 
   <nav class="navbar navbar-dark" style="background-color:  #4a6fa5;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h2>🎓 EnrollMate – Admission Assistant</h2>
    </a>
  </div>
</nav>

<div class="main-area">
  <div class="chat-container">
    <div id="chat-box"></div>

    <div class="input-area">
      <input type="text" id="user-input" placeholder="Ask about admissions..." />
      <button onclick="sendMessage()">Send</button>
    </div>
  </div>
</div>

    <script src="/static/script.js"></script>
  </body>
</html>
